h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__headers;
}

.site-title {
	font-weight: 800;
	font-family: $font__display;
	@include font-size(3);
}

.site-description {
	text-transform: uppercase;
	@include font-size(0.8);
	color: #3a3a3a;
	font-weight: bold;
}

.entry-title, .page-title {
	font-family: $font__subheaders;
	text-align: center;
	font-weight: light;
}


h2 {
	@include font-size(1.5);
}