.site-header {
	border-bottom: 1px solid #E7E7E7;
	a {
		text-decoration: none;
		color: #000;
		transition: all 0.5s;
	}
	a:hover {
		text-decoration: underline;
	}
	.site-branding {
		@include wrapper();
		text-align: center;
		margin: 60px auto 50px auto;
	}

	.main-navigation {
		border-bottom: 1px solid $color__borders;
		text-align: center;
	}

	.site-title, .site-description {
		margin: 0;
	}

	.menu {
		@include wrapper();
		list-style-type: none;
		text-transform: uppercase;
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
		padding: 0;
		
		li {
			@include font-size(0.75);
			font-weight: bold;
			letter-spacing: 1px;
			display: inline-block;
			margin-right: 20px;
		}
	}
}