.home {
	.hero {
		img {
			height: auto;
			@include min-screen(1024px) {
				height: 80vh;
				width: 100%;
				object-fit: cover;
				object-position: 100% 100%;
			}
		}
	}
	.copy {
		padding: 0 10px;
		@include min-screen(1024px) {
			@include wrapper();	
			padding: 0;
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}
}